body {
  font-family: "Times New Roman", Georgia, Serif;
  margin: 0;
  background-color: #FDF7F1;
}

.header{
  /* padding: 400px; */
  height: 800px;
  text-align: center;
  background-image: url("images/web image.png");
  background-size: cover;
  color: white;
}


.header1{
  height: 800px;
  text-align: center;
  background-image: url("images/blend ratio.png");
  background-size: cover;
  color: white;
}

.header2{
  height: 800px;
  text-align: center;
  background-image: url("images/table.png");
  background-position:2px -30px;
  background-size: cover;
  color: white;
}


.sitelogo{
  position: absolute;
  top: 10px;
  left: 30px;
  width: 250px;
}

.sitelogo h1{
  margin: 0;
}

.sitelogo img{
  width: 100%;
  height: auto;
}




.topbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topbar a:hover {
  background-color: #ddd;
  color: black;
}


.topbar a.active {
  background-color: #4CAF50;
  color: white;
}

.topbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topbar a:not(:first-child) {display: none;}
  .topbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topbar.responsive {position: relative;}
  .topbar.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.side {
  -ms-flex: 30%;
  flex: 30%;
  padding: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;;
  font-size: 15px;
}

.side p, h2, h3{
  text-align: center;
  padding-left: 40px;
}

.self{
  width: 30%;
  float: left;
}

.cup{
  width: 25%;
  float: right;
}



.side2 {
  -ms-flex: 30%;
  flex: 30%;
  padding: 10px;
  min-height: 600px;
  margin-top: 250px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 2px;;
  font-size: 15px;
  background: url(images/flower-s.png) no-repeat 52% 52%;
  position: relative;

}
.side2-inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}



.side2 h2{
  text-align: center;
  left: 50px;
}

.side2 h5, p{
  text-align: center;
  padding-left: 40px;
}

.red{
  position: relative;
  top: -100px;
  float: left;
}

.blue{
  position: relative;
  float: right;
}

#red,
#blue{
  /* display: none; */
  opacity: 0;
  position: absolute;
  
  width: 600px;
  height: 1400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
}

#red{
  background-image: url(images/fish-w-r.png);
  top:700px;
  left: 0;
  width: 30%;
  transform: translateY(-30%);
}
#blue{
  background-image: url(images/fish-w-b.png);
  top:-1500px;
  right:0;
  width: 30%;
  transform: translateY(-30%);
}



div.gallery {
  margin-top: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


div.gallery img {
  width: 120%;
  height: auto;
}

div.gallery h3{
margin-top: 100px;
}

div.desc {
  text-align: center;
}


footer {
  color: #1CACF4;
  height: 100px;
  width: relative;
 }
 footer .copyright image{
   display: inline-flex;
  position: relative;
  left: 50px;
  top: 2px;
  width: 200%;
  height: auto;
}


footer .copyright{
  width: 100%;
    @media (max-width: 600px) {
      width: 100%;
    }
}



footer .copyright p{
  padding-left: 10%;
  color:#1CACF4;
  font-size: 15px;
  line-height: 70px;
  text-transform: capitalize;
  letter-spacing: 1px;
  @media (max-width: 600px) {
    text-align: center;
    padding: 0;
}
}



footer .social{
  width: 100%;
      float: center;
    @media (max-width: 600px) {
      width: 100%;
}
}
footer .social a {
  float: left;
  line-height: 70px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-weight: bold;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

 footer .social a:hover {
  background-color: #09244B;
  -moz-transition: all, 0.3s;
  -o-transition: all, 0.3s;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}


.linked {
  background-color: #1E83AE;
  font-size: 1.2em;
  width: 20%;
}

.face {
  background-color: #3D5B94;
  font-size: 1.2em;
  width: 20%;
}

.tweet {
  background-color: #3DACDD;
  font-size: 1.2em;
  width: 20%;
}

.support {
  background-color: #6C3C4B;
  font-size: 0.8em;
  width: 40%;
}

.row1 {
  margin: 8px -16px;
}


.row1,
.row1 > .column {
  padding: 8px;
}


.column {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.row1:after {
  content: "";
  display: table;
  clear: both;
}


.content {

  padding: 10px;
  text-align: center;
}

.content1 {

  padding: 10px;
  text-align: center;
}

.content2 {
  
  padding: 10px;
  text-align: center;
}

.content3 {
  
  padding: 10px;
  text-align: center;
}


@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.content4{
  height: 400px;
  width: relative;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
  text-align: center;
  z-index: 2;
  margin-top: 10px;
  padding: 60 0 60 0;
}

.content4 h3, p{
  margin-top: 50px;;
  letter-spacing: 2px;
  text-align: center;
}
.content4 img{
  width: 525px;
  padding-left: 25px;
  padding-top: 20px;
}

.column1 {
  float: left;
  width: 50%;
}


.content5{
  height: 400px;
  width: relative;
  font-size: 15px;
  letter-spacing: 1px;
  font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
  text-align: center;
  z-index: 2;
  margin-top: 50px;
  margin-right: 50px;
  padding: 60 0 60 0;
}

.content5 h3, p{
  margin-top: 50px;
  letter-spacing: 1px;
  text-align: center;
}
.content5 img{
  width: 525px;
  padding-left: 25px;
  padding-top: 20px;
}

.column2 {
  float: right;
  width: 50%;
}

