body{
  margin: 0;
}

#page{

}
header{
  background-color: antiquewhite;
  height:100vh;
}

main{
  height: 10000px;
}

#brand{
  background-color: rgba(245, 245, 220, 0.562);
  margin-top: 800px;
  text-align: center;
  line-height: 400px;
  height: 400px;
  font-size: 200%;

  position: relative;
}

#fish-red,#fish-blue{
  /* display: none; */
  opacity: 0;
  position: absolute;
  
  width: 600px;
  height: 1400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  
}

#fish-red{
  background-image: url(images/fish-red.png);
  top:700px;
  left: 0;
  transform: translateY(-30%);
}
#fish-blue{
  background-image: url(images/fish-blue.png);
  top:-700px;
  right:0;
  transform: translateY(-50%);
}